.communication{
  display: flex;
  gap: 10px;
  height: 100%;
}

.communication__form{
  width: calc(50% - 20px);
  padding: 50px;
}

.communication__title{
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;
}

.input{
  display: block;
  width: 567px;
  height: 60px;
  margin-bottom: 30px;
  border-radius: 1000px;
  border: none;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background-color: #3B3D3B;
}

.input:focus{
  outline: hidden;
}

.input::placeholder{
  color: #FFFFFF;
  opacity: 0.5;
}

.btn_smile{
  width: 450px;
  height: 70px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 22px;
  line-height: 28px;
  color: #3B3D3B;
  background-color: rgb(244, 135, 164);
}

.background-image{
  width: 100%;
  height: 100%;
}

@media (max-width: 1199px) {
  .communication__form{
    padding: 40px;
  }

  .communication__title{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
  }

  .input{
    width: 383px;
    height: 41px;
    margin-bottom: 20px;
    border-radius: 672px;
    font-size: 16px;
    line-height: 20px;
  }

  .btn_smile{
    width: 304px;
    height: 47px;
    border-radius: 7px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .communication{
    justify-content: center;
    align-items: center;
  }
  .communication__form{
    width: 100%;
    padding: 0 10px 0 10px;
  }

  .communication__title{
    width: 310px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 37px;
  }

  .input{
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
    border-radius: 322px;
    font-size: 15px;
    line-height: 19px;
  }

  .btn_smile{
    width: 100%;
    height: 43px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 19px;
  }

  .background-image{
    display: none;
  }
}
